.user-list-container{
  background: #23607a;
  background: linear-gradient(90deg,rgba(35, 96, 122, 1) 0%, rgba(26, 51, 26, 1) 0%, rgba(32, 90, 115, 1) 97%);
  color: white;
  height: 100%;
}

.chat-container{
  background-color: #bbb;
  height: 100%;
}

.messages-container{
  background-color: #fff;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.message-input-container{
  background-color: #ddd;
}

.chat-header{
  background: #fff;
  border-bottom: 3px solid #205a73;
}

.textarea-container{
  background-color: #205a73;
}

.call {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
}

.no-call {
  display: none;
}

.show{ position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
}
.hide {
  display: none;
}